1-Instaladores/

core/demo

core/develop

core/EricText

file/demo

file/develop

file/EricText

data/EricText

Datasets/corpus_text_eric.bib

Server/node_modules/

Server/scripts/wiki.en.vec

Server/scripts/wiki.en.bin

Server/scripts/.Rhistory

Server/package-lock.json
