core/*

data/lit_rev_dout_2022

data/lit_rev_mest_2021

Datasets/corpus_text_sherlon.bib

Datasets/corpus_phd_sherlon.csv

file/*

Server/node_modules/

Server/scripts/wiki.en.vec

Server/scripts/wiki.en.bin

Server/scripts/.Rhistory

Server/package-lock.json
