#WordCloudView {
    width: 100%;
    height: 40%; /*Sherlon: Quando editar aqui deve mudar no main-wordcloud.js de 0.40 para a nova porcentagem escolhida*/
    position: relative;
}

#wordcloudviewheader {
    width: 100%;
    background-color: #ebebe0;
    border: #6b6b47 1px solid;
    height: 30px;
}

#wordcloudview{
    display: flex;
    width: 100%;
    height: calc(100% - 30px); /*Sherlon: Reduz os 30px do cabecalho*/
}

#wordcloudviewdiv{ 
    background-color: #FFF;
    border: #6b6b47 1px solid;

    width: 100%;
    height: 100%;
    resize: none;
    box-sizing: border-box;         /* For IE and modern versions of Chrome */
    -moz-box-sizing: border-box;    /* For Firefox                          */
    -webkit-box-sizing: border-box; /* For Safari */
}