#docviewcontainer{    
    display: flex; 
    flex-direction: column;    
    width: 25%;
}

/*Sherlon: Document View*/
#docviewmenu{
    display:flex;
    flex-direction: row; 
    height: 38px;
    width: 100%;
    background-color: #212121;
    margin: 0px;
    float: right;
}

#DocumentView {
    width: 100%;
    height: 60%; 
    position: relative;
}

#docviewheader {
    margin: 0px 0px 0px 3px;
    width: 100%;
    background-color: #ebebe0;
    border: #6b6b47 1px solid;
    height: 30px;
    margin-top: 1px;
    position: relative;
    top: 4px;
}

#docviewdiv{    
    display: flex;
    width: 100%;
    height: 100%;
}

#docview{ 
    margin: 3px;
    margin-right: 0px;
    margin-bottom: 20px;
    padding-bottom: 0px;
    background-color: #FFF;
    text-align: justify; /*Sherlon: This will justify the content in Document View*/

    width: 100%;
    resize: none;
    box-sizing: border-box;         /* For IE and modern versions of Chrome */
    -moz-box-sizing: border-box;    /* For Firefox                          */
    -webkit-box-sizing: border-box; /* For Safari */
}