#scatterplotcontainer{
    background-color: #FFF;/*whitesmoke;*/
    width: 98.5%;
    /*margin-top: 40px;*/ /*Sherlon: esta sendo atualizado em tempo de execucao pelo LoadScatterplot()*/
    margin: 5px;
    display: flex;
	border: #6b6b47 1px solid;
}

.scatterplot-svg{
    transform: translate(0px, 0px);
}

.tooltip{
    position: absolute;
    background: white;
}

#scatterplotmenu{
    display:flex;
    flex-direction: row; 
    height: 38px;
    width: 100%;
    background-color: #212121;
    margin: 0px;    
}

/*Scatterplot Visualization Techniques*/
.scatterplotVisualizations {
    margin: 8px 0px 0px 15px;
}
.form-check-label {
    color: white;
}

.search-image{
    width: 25px; 
    height: 25px;
    margin: 3px;    
}

.scatterbutton{ 
    height: 25px;
    width: 25px;
    margin: 2px 2px 2px 2px; 
    float:right;
    visibility: hidden;
}

#searchdocument{
    display:flex;
    height: 28px; 
    margin: auto;
    margin-left:10px;
    margin-right:10px;    
    float: left;
}

#filterscatterplot{
    display:flex;
    height: 28px; 
    margin: auto;
    margin-left:10px; 
    margin-right:10px;
    float: left;
  
}

#filterscatterplotinput{
   width: 80px;  
}

#filterrelevantsbutton{
    float: left;
    margin-top: auto;
    margin-bottom: auto;
}

#resetscatterplotbutton{
    float: right;  
    margin-top: auto;
    margin-bottom: auto;
}





/*Slider Style*/
#scatterplotparameters {
  margin: 0px 0px 0px 5px;
  width: 98.5%;
  background-color: whitesmoke;
  border: #6b6b47 1px solid;
  height: 30px;
  margin-top: 0px;
  position: relative;
  top: 4px;
  text-align: center;
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
  margin-left: 4px;
}

#cosinetext, #disttext, #neighborhoodtext, #sessiondatatext {
  margin-right: 5px;
  color: #000;
  display: inline-block;
  font-size: 12px;
  position: relative;
  top: 0px;
}

#cosinedistancevalue, #distancevalue {
  width: 30px;
  height: 20px;
  color: #000;
  font-size: 12px;
  position: relative;
  top: 2px;
}

#cosinemin, #distmin {
  position: relative;
  top: 8px;
  right: 80px;
  font-size: 60%;
}

#cosinemax, #distmax {
  position: relative;
  top: 8px;
  right: 30px;
  font-size: 60%;
}

.slider {
  -webkit-appearance: none;
  width: 75px;
  height: 6px;
  /*border-radius: 5px;  */
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border: #6b6b47 1px solid;
  /*border-radius: 50%; */
  background: #A9A9A9;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border: #6b6b47 1px solid;
  /*border-radius: 50%;*/
  background: #A9A9A9;
  cursor: pointer;
}

/*Checkbox Style*/
#checkboxneighborhood, #checkboxsessiondata {
  position: relative;
  top: 2px;
}

/*Session Data Style*/
#sessiondata {
  position: absolute;
  margin-top: 12px;
  margin-left: 12px;
  width: 150px;
  height: 180px;
  border: #6b6b47 1px solid;
  background: #FFF;
  z-index: 30;
}

#data {
  font-size: 9px;
  margin-left: 5px;
}

#sessiondatacontainer {
  margin-top: 10px;
}

#sessiondata span {
  font-size: 14px; /*Define o tamanho do circulo no cabecalho*/
  position: relative;
  top: 0px;
}

#sessiondata p {
  margin-right: 10px;
  color: #000;
  display: inline-block;
  position: relative;
  top: 0px;
}

#sessiondata input {
  width: 30px;
  height: 20px;
  color: #000;
  font-size: 12px;
  position: relative;
  top: 2px;
}